
<footer class="footer">

    <div class="footer-top-line"></div>

    <div class="footer-container">

        <!-- Column 1 -->

        <div class="footer-column">

            <h3>About</h3>

            <a href="https://micronations.wiki/wiki/Xephortian_Republic">About Xephortia</a>
          

        </div>

        <!-- Column 2 -->

        <div class="footer-column">

            <h3>Help & Support</h3>

            <a href="mailto:xephortia@gmail.com">Contact Us</a>
           

        </div>

        <!-- Column 3 -->

        <div class="footer-column">

            <h3>About this Website</h3>

            <a href="https://docs.google.com/document/d/1QdcxEUbAMVFk5CsVY3VmTKneoheKaUYXxFs86ungEOA/edit?usp=sharing">Xephortia Digital Services</a>
         <a href="https://docs.google.com/document/d/1CDH5-K7Lo_FexqBz9-q-WCvtSddCCSCm-CkCZcC-7Xc/edit?usp=sharing">Copyright</a>

        </div>

        <!-- Column 4 -->

        <div class="footer-column">

            <h3>References</h3>
            <a href="xephortia.moeezland.com">Elections</a>

        </div>

        <!-- Logos -->

        <div class="footer-logos">

<a href="under_construction.html" class="footer-logo-card">

    <img src="../assets/images/XTDTA (2).png">

    <span>Powered by: XTDTA</span>

</a>

<a href="under_construction.html" class="footer-logo-card">

    <img src="../assets/images/XEPHORTIANCOA.png">

    <span>Xephortian Government</span>

</a>

<a href="https://drive.google.com/drive/folders/166UqyWiFJa_l3fzK1c7t_9Uj3JyskrWh?usp=sharing" class="footer-logo-card">

    <img src="../assets/images/legislation.png">

    <span>Xephortian Legislation</span>

</a>

        </div>

    </div>


    </div>

</div>

    <div class="footer-bottom">

        <span>

            © 2026 H.H Emir Abdul Moeez. Modified by the Xephortian Republic.
            All rights reserved. 

        </span>

        <div class="footer-social">

            <a href="https://discord.gg/dpJSSb7zPh">
                <img src="../assets/images/discord.png">
            </a>

            <a href="https://www.youtube.com/@xephortia">
                <img src="../assets/images/youtube.png">
            </a>

            <a href="https://micronations.wiki/wiki/Xephortian_Republic">
                <img src="../assets/images/microwiki.png">
            </a>

        </div>

    </div>

</footer>

